
body {
    background-color: #0b0b0b;
    font-family: "Georgia", "Times New Roman", serif;
    color: #e6d3a3;
    padding: 20px;
}

nav {
    margin-bottom: 25px;
    font-size: 20px;
    border-bottom: 2px solid #740001;
    padding-bottom: 10px;
}

nav a {
    margin-right: 20px;
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
    text-shadow: 0 0 5px #ffcc00;
}

/* Main title */
h1 {
    color: #d4af37;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: #740001; 
    font-size: 30px;
    margin-top: 25px;
    border-left: 5px solid #d4af37;
    padding-left: 10px;
}

p {
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.6;
}

ul {
    margin-left: 25px;
    color: #c0a060;
}

li {
    margin-bottom: 8px;
}

img {
    width: 200px;
    margin-right: 15px;
    padding: 5px;
    border: 3px solid #d4af37;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px black;
}

table {
    border-collapse: collapse;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 60%;
    background-color: #1a1a1a;
}

th {
    background-color: #740001;
    color: #fff;
}

table, th, td {
    border: 1px solid #d4af37;
    padding: 10px;
}


section {
    margin-bottom: 40px;
}